root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
indent_size = 4

[*.{ts,json,md,yml,yaml}]
indent_size = 2

# ktlint: 允许 @Composable 函数使用 PascalCase
ktlint_function_naming_ignore_when_annotated_with = Composable
